.container {
  height: 100vh;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 20px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
  margin: 0;
}
